// tests/nextflow.config
params {
    outdir = "results"
    container__genomad = "docker://quay.io/biocontainers/genomad:<tag>"
    genomad_outdir     = "${params.outdir}/genomad"
    // ...one block per tool
}
process {
    withLabel: process_single { cpus = 1; memory = 2.GB }
    withLabel: process_low    { cpus = 2; memory = 4.GB }
    withLabel: process_medium { cpus = 2; memory = 6.GB }
    withLabel: process_high   { cpus = 4; memory = 8.GB }
}
docker.enabled = true   // or apptainer/singularity on your HPC
